.logo-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-custom{
    color: white;
    font-family: cursive;
    font-size: 1.5rem;
    padding: 1rem 0;
    margin-left: 10%;
    margin-bottom: 0;
}
#logo{
    height: 4rem;
}
.custom-lightdark{
    background-color: rgba(52,58,64, 0.9);
}
.nav-link{
    color:white !important;
}
.nav-item{
    padding: 0 1.2rem;
    text-align: center;
    flex-basis: 100%;
}
.nav-item:hover{
    cursor: pointer;
    background-color: rgba(52,58,64, 0.95);
}
ul.navbar-nav{
    justify-content: space-around !important;  
    flex: 1;
}
nav{
    padding: 0 !important;;
}
.active{
    background-color: rgba(52,58,64, 1);
}
@media (min-width: 768px) {
    .active{
        border-bottom: 4px #0079D3 solid;
    }
    .nav-item:hover{
        border-bottom: 4px #0079D3 solid;
    }
}
.row > * {
    margin: 0.5em 0;
}
.body{
    max-width: 768px;
}

.tab{
    display: none;
}
hr{
    border-radius: 1px black solid block;
}

.page{
    display: none;
}
.shown{
    display: block;
}

#goal-results{
    justify-content: center;
    text-align: center;
}

.result{
    color: #0079D3;
}

img{
    m
}