html {
    font-family: "Montserrat", sans-serif;
    color: white;
    background-color: #ebe8e2cb;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#root {
    flex: 1 0 auto;
    max-width: 1024px;
    margin: auto;
    user-select: none;
    margin-bottom: 50px;
}

#title {
    color: rgba(35, 35, 126, 0.466);
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;
}

.display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    user-select: none;
}

.card {
    display: flex;
    flex-direction: column;
    flex-basis: 1;
    background-color: rgba(35, 35, 126, 0.466);
    margin: 5px;
    padding: 20px;
    border-radius: 5px;
    user-select: none;
    width: 150px;
    transition: 0.1s ease-in-out;
}

.card:hover {
    cursor: pointer;
    background-color: rgba(44, 44, 155, 0.411);
}


.wrong-card {
    background-color: rgba(216, 23, 23, 0.658);
}

.wrong-card:hover {
    background-color: rgba(216, 23, 23, 0.658);
}



.card-name {
    padding: 5px;
    margin: 0px auto;
}

footer {
    flex-shrink: 0;
    text-align: center;
    padding: 10px 0;
    background-color: rgba(35, 35, 126, 0.466);
    width: 100%;
}
